ADMIN_REGISTRATION_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
DB_HOST=ozi-db1.c306iyoqqj8p.ap-south-1.rds.amazonaws.com
DB_NAME=ozi_backend
DB_PASSWORD=rLfcu9Y80S8X
DB_PORT=3306
DB_USER=admin
INITIAL_ADMIN_EMAIL=admin@yourcompany.com
INITIAL_ADMIN_PASSWORD=SecureAdminPassword123
JWT_ACCESS_EXPIRES_IN=15m
JWT_ACCESS_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
LMS_API_KEY=your-lms-key
LMS_BASE_URL=your-lms-url
MIN_APP_VERSION=1.0.0
NODE_ENV=development
PORT=3000
RATE_LIMIT_MAX_REQUESTS=9999999
RATE_LIMIT_WINDOW_MS=900000
S3_BUCKET=your-photo-bucket
SEAL_SECRET=your-seal-secret

# Ecommerce API Configuration
ECOMM_API_BASE_URL=https://connector.ozi.in
ECOMM_API_KEY=dsdfcsqw21e2dxwed23dewee2d
CURRENT_DOMAIN=https://shop.ozi.in
TZ=UTC